// PÁGINA ARTICLE
.article{
  @include for-phone-only{
    width: 100%;
  margin: 0 auto 40px ;

  }
  @include for-tablet-only{
  width: 80%;
  margin: 0 auto 40px ;

  }
  @include for-desktop-only{
    width: 80%;
    margin: 0 auto 40px ;
  
    }

  &__h1{
    @include fontSize(24px);
    color: $dark-gray;
    letter-spacing: 1.5px;
    text-align: center;
    margin-bottom: 10px;
  @extend %default-margin-bottom;

  }
  &__title{
  background-color: $light-gray;
  padding: 20px 40px; 

  }

  &__breadcrumb{
    @include flex(justify-content,center);
    align-items: center;
  }
  .breadcrumb{
    &__img{
      width: 15px;
      margin: 0 20px;
      @extend %no-margin-top, %no-margin-bottom,%double-margin-right,%double-margin-left;
    }
    &__link{
      color: $dark-gray;
      @extend %no-decoration;
     &:hover{
      @extend %yes-decoration;
      color: $purple;

     }
    }
  }
  &__img{
    width: 100%;
    margin-bottom: 10px;
  }
  &__details{
   @include flex(justify-content,space-around);
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
  }
  &__date{
    font-style:italic ;
    @include fontSize(12px);
  
  }
  &__tag{
    color: $purple;
    border: 1px solid $purple;
    padding: 5px 10px;
  }
  &__content{
    font-weight: 100;
    @include fontSize(14px);
    padding: 10px 20px ;
    color: $dark-gray;
    text-align: justify;

  }
  &__p{
    @extend  %default-margin-bottom;
  }
}

